;;==============================================================================
;; スクリーンサイズ
;;==============================================================================
(setq my-screen-type "SET YOUR MACHINE TYPE HERE.")

;; MacBook Air 11
(when (string= my-screen-type "mba11")
  (progn
    (setq my-screen-font-size 14)
    (setq my-screen-columns   94)
    (setq my-screen-rows      48)
    (setq my-screen-width   1366)
    (setq my-screen-hight    768)
    ))
